.container {
    padding: 10px;
    margin-top: 81px;
    margin-left: 260px;
    transition: all 0.4s ease;
    border-radius: 1%;
    background-color: #EEF2F6;
    min-height: 100vh;
    height: auto;
}

.sidebar-closed {
    .container {
        margin-left: 70px !important;
        transition: all 0.4s ease;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin-top: 81px;
    }
}

@media screen and (max-width: 750px) {

    .sidebar-open {
        .container {
            margin-left: 260px !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .sidebar-open {
        .container {
            padding: 1;
            margin-left: 0px !important;
        }
    }
}