.dialog-modal {
    .add__button {
        width: auto;
        padding: 10px 15px;
    }

    .modal-title {
        background-color: #1565c0 !important;
    }
    .modal-bottom{
        border: 1px solid #1565c0;
    }
}