.home {
    display: flex;
    .home-container {
        width: 100%;

        .container-title {
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 22px;
            background-color: #EEF2F6;
            width: 100%;
        }

        .container-body {
            .container-widgets {
                display: flex;
                justify-content: space-between;
                margin-left: 10px;
                margin-right: 10px;

                .card {
                    margin-left: 10px;
                }
            }
        }



    }
}