.registration {
    display: flex;

    .registration-container {
        width: 100%;

        .container-title {
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 22px;


            .container-dropdown {
                margin-top: 10px;
            }

        }

        .container-body {
          

            .container-body__tab {}

        }
    }
}