.navbar__parent {
    position: fixed;
    height: 81px;
    width: calc(100% - 260px);
    margin-left: 260px;
    transition: all 0.4s ease;
    z-index: 100;




    header {
        background-color: #fff;
        box-shadow: none;
    }

    .navbar {


        background-color: white !important;
        color: black;
        font-weight: 600;
        font-size: 20px;

        .icon-button {
            align-self: center;
            height: 40px;
            width: 40px;
        }

        .navbar-title {
            font-family: 'Poppins';
            font-weight: bold;

        }

        .search-input {
            border: 2px solid #1E88E5;
            display: flex;
            border-radius: 10px;


            .search-input__icon {
                .search-icon {
                    color: #697586;
                    margin-top: 10px;
                    margin-left: 7px;
                }
            }

            .search-input__text {
                color: black;
                padding: 0;
                margin-left: 0;

            }
        }

        .items {
            margin-top: 8px;
            vertical-align: middle;

            .menuButton {
                background-color: #ede7f6;
                border-radius: 10px;
                color: #673AB7;
                margin-right: 15px;

                &:hover {
                    color: #ede7f6;
                    background-color: #673AB7;
                }
            }

            .message-icon {
                background-color: #ede7f6;
                border-radius: 10px;
                color: #673AB7;
                margin-right: 10px;



                &:hover {
                    color: #ede7f6;
                    background-color: #673AB7;
                }
            }

            .notification-icon {
                background-color: #C7E4FC;
                border-radius: 10px;
                color: #1E88E5;
                margin-right: 10px;


                &:hover {
                    color: #C7E4FC;
                    background-color: #1E88E5;
                }
            }

            .user-profile {
                height: 50px;
                align-items: center;
                background-color: #C7E4FC;
                padding-right: 20px;
                border-radius: 30px;
               

                &:hover {
                    background-color: #1E88E5;

                    .profile-icon {
                        color: #C7E4FC;
                      
                    }
                }

                .user-photo {
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        margin-right: 5px;
                        margin-top: 7px;
                        object-fit: cover;
                        border: 5px solid #fff;
                    }
                }

                .profile-icon {
                    margin-left: 2px;
                    margin-right: 5px;
                    width: 5px;
                    height: 5px;
                    color: #1E88E5;
                    margin-bottom: 18px;
                }

            }
        }
    }
}

.closed {
    position: fixed;
    height: 81px;
    width: calc(100% - 70px);
    margin-left: 70px;
    transition: all 0.4s ease;
}


@media screen and (max-width: 600px) {


    .closed {
        margin-left: 70px;
    }

    .navbar__parent.opened {

        height: 81px;
        width: calc(100% - 0px);
        margin-left: 0px;
    }

}