.enrollment-tab {
    .enrollment-top__items {
        margin-left: 0 !important;
        margin-bottom: 5px;

        .enrollment-top__grid {
            align-items: center;
        }
    }

    .table-title {
        text-align: center;
        align-self: center;

    }

}

.deregisration {
    .deregistration-top__grid {
        display: flex;
        align-items: center;

    }

}
